/* Color Palette */
:root {
  --background-light: #f7edd4;
  --background-medium: #e6ddc8;
  --background-dark: #d5cebb;
  --accent-dark: #c2b8a1;
  --text-dark: #4a403a;
}

/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: var(--background-light);
  color: var(--text-dark);
}

/* Navigation Bar */
#navbar {
  display: flex;
  justify-content: center;
  background: var(--accent-dark);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2% 0;
  z-index: 1000;
}

#navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  justify-content: space-around;
}

#navbar li {
  margin: 0 2%;
}

#navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
#welcome-section h1 {
  font-size: 3vw;
}

#welcome-section p {
  font-size: 2vw;
}

/* Welcome Section */
#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  color: white;
}

/* Projects Section */
#projects {
  padding: 5%;
  background: var(--background-medium);
  margin: 0 auto;
  border-radius: 10px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  margin: 0 auto;
  min-width: 100%;
  height: auto;
}

.project-tile {
  background: white;
  padding: 4%;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile a {
  display: inline-block;
  margin: 0 auto;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.project-tile img {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  margin: 0 auto;
}

/* Skills Section */
#skills {
  padding: 5%;
  background: var(--background-light);
}

#skills ul {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

#skills li {
  font-size: 1.5vw;
  margin: 2% 0;
}

/* Contact Section */
#contact {
  background: var(--accent-dark);
  color: white;
  padding: 5%;
}

#profile-link {
  display: inline-block;
  margin-top: 2%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: var(--text-dark);
  padding: 2% 5%;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    align-items: center;
  }

  #navbar li {
    margin-bottom: 5%;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-tile {
    width: 80%;
  }

  #welcome-section h1 {
    font-size: 5vw;
  }

  #welcome-section p {
    font-size: 3.5vw;
  }

  #skills li {
    font-size: 4vw;
  }
}
